body {
    font-family: 'Times New Roman';
    font-size: 12px;
    color:white;
}

footer {
    clear: both;
    position: absolute;
    height: 30px;
    width: 100%;
    margin-top: -200px;
    padding-top: 8px;
    bottom: 0px;
}

.navbar {
    margin-bottom: 0;
}

#AuctionFeed {
    margin-top: 57px;
    font-size: 12px;
}

    #AuctionFeed #tabs {
        text-align: center;
    }

        #AuctionFeed #tabs div.wrapper {
            text-align: center;
            font-size: 10px;
            color: #808080;
            display: inline-block;
        }

            #AuctionFeed #tabs div.wrapper ul.mr-3 {
                display: flex;
                list-style: none;
                list-style-position: inside;
                margin-bottom: 5px;
            }

                #AuctionFeed #tabs div.wrapper ul.mr-3 li {
                    margin-right: 10px;
                    padding-right: 5px;
                    border-right: 1px solid #808080;
                    
                }
                    #AuctionFeed #tabs div.wrapper ul.mr-3 li a {
                        color: #808080;
                    }
                        #AuctionFeed #tabs div.wrapper ul.mr-3 li a:hover {
                            text-decoration: none;
                            
                        }
#Catogery-button {
     width: 928px;

}



